//SET Global Colors
$smoothBlack: #17235f;
$whiteColor: #FFFFFF;
$gradientBlue: #1A8DD1;
$mainYellow: #FFCD02;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}

body {
    font-family: 'Nunito', sans-serif;
}