.hero {
    margin-top: 52px;
    width: 648px;
    margin: 52px auto;
    
        .container {
            .head {

                h3 {
                    font-size: 2.4rem;
                    margin-bottom: 10px;
                }

                h5 {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: -19px;
                    margin-bottom: 13px;
                    font-size: 11px;
                    margin-left: -64px;
                    margin: -19px 0 11px -64px;

                    span {
                        margin-left: 5px;
                        color: #1A8DD1;
                    }
                }

                h4 {
                    font-size: 17px;
                    font-weight: normal;
                    color: #999;
                }
            }

            .choices {
                margin-top: 19px;
                display: flex;
                justify-content: space-evenly;
            }
        }
}